.alt-nav__list {
  font-weight: $bold;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.alt-nav__list-item {
  list-style: none;
  margin-top: 10px;
}

.alt-nav__list-item a, alt-nav__list-item a:visited {
  color: $nav_link_color;
  position: relative;
  text-decoration: none;
  opacity: 1;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 17px;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 5px;
  }
}

.alt-nav__list-item a:hover {
  &:after {
    border-bottom: hidden;
  }
}
