.contacts {
  position: relative;
}
.contacts__wrapper {
  @include wrapper;
}

.contacts__infoblock {
  @include tablet {
    margin-left: 45px;
    position: absolute;
    z-index: 50;
    bottom: 45px;
    background-color: $accent1;
    color: $text_color2;
  }
  @include desktop {
    margin-left: 45px;
    position: absolute;
    z-index: 50;
    bottom: 45px;
    background-color: $accent1;
    color: $text_color2;
  }
}

.contacts__title {
  margin: 45px 0px;

  @include tablet {
    margin-left: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  @include desktop {
    margin-left: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.contacts__address {
  margin: 45px 0px;

  @include tablet {
    margin: 25px;
    margin-bottom: 50px;
  }
  @include desktop {
    margin: 25px;
    margin-bottom: 50px;
  }
}

.contacts a {
  font-weight: $bold;
}
