html,
body {
  font-family: $sans-serif-stack;
  font-size: 16px;
  line-height: 24px;
  font-weight: $regular;
  margin: 0 auto;
  padding: 0;
}

h1 {
   margin: 0;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: $bold;
}

h3 {
  font-size: 24px;
  font-weight: $bold;
}

section {
   padding: 1px;
}

body, .smooth-container {
  scroll-behavior: smooth;
}

a,
a:visited {
  font-weight: $bold;
  color: $accent_text;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

main {
  position: relative;
  z-index: 50;
  background-color: $default_bg;
  padding-top: 45px;
}

ul {
  margin: 0;
}

::selection {
  background: $text_selection;
}

::-moz-selection {
  background: $text_selection;
}
