.main-nav__logo {
  font-size: 30px;
  font-weight: $bold;
}

.main-nav {
  text-align: center;

  @include tablet {
    margin: 0 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  @include desktop {
    margin: 0 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

.main-nav__list {
  margin-top: 10px;
  font-size: 20px;
  font-weight: $bold;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 11;

  @include tablet {
    flex-direction: row;
    margin-top: 0px;
  }

  @include desktop {
    flex-direction: row;
    margin-top: 0px;
  }
}

.main-nav__list-item {
  list-style: none;
  margin-top: 10px;

  @include tablet {
    padding: 0;
    margin-right: 15px;
  }
  @include desktop {
    padding: 0;
    margin-right: 25px;
  }
}

.main-nav__list-item:nth-last-child(1){
  margin-right: 0;
}

.main-nav__list-item a, main-nav__list-item a:visited {
  color: $nav_link_color;
  position: relative;
  text-decoration: none;
  opacity: 1;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 19px;
    width: 100%;
    border-bottom: 2px solid;
    margin-top: 5px;
  }

}

.main-nav__list-item a:hover {
  &:after {
    border-bottom: hidden;
  }
}
