#map {
  margin-top: 45px;
  display: block;
  width: 100%;
  height: 450px;

  @include tablet {
    margin-top: 0px;
    height: 450px;
  }
  @include desktop {
    margin-top: 0px;
    height: 450px;
  }
}

.map__image {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 320px;

  @include tablet {
    width: 640px;
  }
  @include desktop {
    width: 640px;
  }
}
