// ============================
// clearfix
// ============================

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// ============================
// wrapper
// ============================

@mixin wrapper {
  width: 280px;
  margin: 0 auto;

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1024px;
  }
}

// ============================
// mixin for width
// ============================

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
