.page-header {
  background-color: $accent1;
  color: $text_color2;
  padding-top: 30px;
}

.page-header__wrapper {
  @include wrapper;
  min-height: 570px;
  position: relative;
}

.page-header__slogan {
  font-size: 28px;
  font-weight: $bold;
  text-align: center;
  line-height: 38px;
  z-index: 10;
  display: none;

  @include tablet {
    display: block;
    font-size: 34px;
    position: absolute;
    text-align: right;
    bottom: 70px;
    right: 45px;
  }

  @include desktop {
    display: block;
    position: absolute;
    font-size: 40px;
    text-align: right;
    bottom: 40px;
    right: 130px;
  }
}

.page-header__phone {
  margin: 0;
  font-size: 16px;
  font-weight: $bold;
  text-align: center;
}

.phone {
  color: $text_color2;
}

.page-header__img {
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
  will-change: transform;
}

.page-header__img--ticket {
  bottom: 0px;
  left: -10px;
  width: 300px;
  height: 300px;
  background-image: url("/img/ticket_mobile.png");

  @include tablet {
    bottom: -10px;
    left: 0px;
    width: 300px;
    height: 300px;
    background-image: url("/img/ticket_mobile.png");
  }
  @include desktop {
    bottom: -10px;
    left: 0px;
    width: 360px;
    height: 360px;
    background-image: url("/img/ticket.png");
  }
}

.page-header__img--passport {
  @include tablet {
    right: 20px;
    bottom: 70px;
    width: 430px;
    height: 380px;
    background-image: url("/img/passport-tablet.png");
  }

  @include desktop {
    right: 80px;
    bottom: 70px;
    width: 520px;
    height: 470px;
    background-image: url("/img/passport-desk.png");
  }
}
