.page-footer {
  background-color: $accent1;
  color: $text_color2;
  position: relative;
}

.page-footer__wrapper {
  @include wrapper;
  min-height: 150px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;

  @include tablet {
    padding-top: 0px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  @include desktop {
    padding-top: 0px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}

.alt-nav__list, .page-footer__copyright {
  @include tablet {
    margin-left: 45px;
    margin-right: 45px;
  }
  @include desktop {
    margin-left: 45px;
    margin-right: 45px;
  }
}

.page-footer__copyright {
  margin-top: 50px;
  font-weight: $bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;

  @include tablet {
    text-align: right;
    margin-top: 0;
  }

  @include desktop {
    text-align: right;
    margin-top: 0;
  }
}

.page-footer__copyright-item {
  list-style: none;
  margin-top: 10px;
}

.page-footer__copyright a,
.page-footer__copyright a:visited,
.page-footer__copyright a:hover {
  text-decoration: none;
  color: $dev;
  opacity: 1;
}
