.services {
  @include wrapper;
}
.services__wrapper {
  @include tablet {
    margin-left: 45px;
    margin-right: 45px;
  }
  @include desktop {
    margin-left: 45px;
    margin-right: 45px;
  }
}

.services__title {
  margin-top: 0px;
  margin-bottom: 45px;
}

.services__list {
  margin-bottom: 0;
}

.services__list-item {
  margin-top: 5px;
}
