// Widths
$tablet-width: 768px;
$desktop-width: 1024px;

// Fonts
$font-stack: "Montserrat";
$font-alt: "Arial";
$sans-serif-stack: $font-stack, $font-alt, sans-serif;
$regular: 400;
$bold: 600;

// Colors
$text_color: #000;
$text_color2: #fff;
$default_bg: #fff;
$nav_link_color: #fff;
$text_selection: #B5C0CA;

$accent1: #34495E;
$accent_text: #fe5815;
$dev: #fe5815;
